.app {
  text-align: center;
}

a {
  text-decoration: none;
  color: #579714;
}

a:hover, a:focus {
  color: #7ed81e;
}

a.btn-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.btn-social svg {
  color: #222222;
}

a.btn-social:hover svg {
  color: #579714;
}

.row {
  display: flex;
}

.col {
  flex: 1 1 100%;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}